.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  text-align: center;
}

input[type=radio] {
  margin-left: 15px;
}

.reviewDiv {
  margin: auto;
  margin-top: 50px;
  width: 60%;
  border: solid 2px black;
  padding: 10px;
}
